<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 模板信息设置 -->
    <bean id="velocityConfigurer"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/pages"/><!--
			設置模板位置 -->
        <property name="velocityProperties">
            <props>
                <!--<prop key="directive.foreach.counter.name">velocityCounter</prop>-->
                <!--<prop key="directive.foreach.counter.initial.value">0</prop>-->
                <prop key="input.encoding">UTF-8</prop><!-- 指定模板引擎进行模板处理的编码 -->
                <prop key="output.encoding">UTF-8</prop><!-- 指定输出流的编码 -->
                <prop key="directive.set.null.allowed">true</prop>
            </props>
        </property>

    </bean>

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <property name="prefix" value="/"/><!-- 视图文件的前缀，即存放的路径 -->
        <property name="suffix" value=".vm"/><!-- 视图文件的后缀名 -->
        <property name="dateToolAttribute" value="date"/><!--日期函数名称 -->
        <property name="numberToolAttribute" value="number"/><!--数字函数名称 -->
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="exposeSpringMacroHelpers" value="true"/><!--是否使用spring对宏定义的支持 -->
        <property name="exposeRequestAttributes" value="true"/><!--是否开放request属性 -->
        <property name="requestContextAttribute" value="request"/><!--request属性引用名称 -->
        <property name="layoutUrl" value="layout/layout.vm"/><!--指定layout文件 -->
    </bean>
</beans>