<div class="post-wrap">
    <div class="m-post">
        <a class="typeicon image" href="http://webjyh.com/jiuzi-travels/"></a>
        <div class="content">
            <h2 class="title"><a href="http://webjyh.com/jiuzi-travels/" title="ConcurrentHashMap详解以及get方法保持同步的解释" rel="bookmark">ConcurrentHashMap详解以及get方法保持同步的解释</a></h2>
            <div class="text">
                <p style="text-align:center;">
                    ConcurrentHashMap是Java5中新增加的一个线程安全的Map集合，可以用来替代HashTable。对于ConcurrentHashMap是如何提高其效率的，可能大多人只是知道它使用了多个锁代替HashTable中的单个锁，也就是锁分离技术（Lock Stripping）。实际上，ConcurrentHashMap对提高并发方面的优化，还有一些其它的技巧在里面（比如你是否知道在get操作的时候，它是否也使用了锁来保护）。
                    ConcurrentMap 提供其他原子 putIfAbsent、remove、replace 方法的 Map。理解JAVA存储模型(JMM)的Happens-Before规则</p>
            </div>
        </div>
    </div>
    <div class="m-infoarea clearfix">
        <a class="time" href="http://webjyh.com/jiuzi-travels/">2016 年 10 月 8 日</a>
        <a href="http://webjyh.com/jiuzi-travels/" class="like">269,698</a>
        <a href="http://webjyh.com/jiuzi-travels/#comments" class="comment">60</a>			<span class="sep">/</span>
        <div class="from"><span class="reblog"><a href="http://webjyh.com/category/life/" rel="category tag">生活无奈</a></span></div>
        <span class="sep">/</span>
        <div class="tagarea clearfix">
            <span class="taglb">标签:&nbsp;</span>
            <a href="#" rel="tag">旅行</a><a href="#" rel="tag">游记</a><a href="#" rel="tag">老陶</a>
        </div>
    </div>
</div>